@use "./button";

.card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border: 4px dotted #ccc;
  background-color: #fff;
  &__title {
    font-size: 2rem;
    margin: 0;
    color: dimgrey;
    font-family: "Courier New", Courier, monospace;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    height: 200px;
  }
  &__img {
    flex: 1 0 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__description {
    flex: 1 0 0;
    margin: 0;
    font-size: 1.25rem;
  }
}
